{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">User registration</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">Are you a new user? Sign up here!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="text" name="content1" id="content1">
            <input type="text" name="content2" id="content2">
            <input type="text" name="content3" id="content3">
            <input type="text" name="content4" id="content4">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}